#intro {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;

}


.bg {
    position: absolute;
    top: 4rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 400px;
    border-radius: 40%;
}

.introContent {
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello {
    font-size: 1.75rem;
    font-weight: 100;
}

.introName {
    color: yellow;
}

.introPara {
    font-size: medium;
    letter-spacing: 1px;
    font-weight: 200;
}

.btn {
    /* background-color: white;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem; */

    background-color: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.1rem 1.5rem;
    border-radius: 2rem;
    margin-top: 1.3rem;
}

.btnImg {
    object-fit: cover;
    height: 1.5rem;
    width: 1rem;
    margin: 0.8rem 1.25rem;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:758px) {
    .bg {
        bottom: 10vw;
    }
    .introContent {
        font-size: 10vw;
    }
    .hello {
        font-size: 4.5vw;
    }
}

@media screen and (max-width:758px) {
    .bg {
        right: -20vw;
    }
}